/ content
%section#homeFullScreen{"data-stellar-background-ratio" => "0.5"}
  .maskParent
    .paralaxMask
    #fullScreenSliderWrapper
      #logoBig
      #flexHome.flexslider
        %ul.slides
          %li
            %h1 Arqueológica 2.0 - 2016
          %li
            %h1 Valencia, Spain
          %li
            %h1 5 - 7 September, 2016
      %a.homeBtn.btn{:href => "#about"}
        %i.icon-down>
        learn more
