%section#fees.slice
  .container
    .row
      .col-md-offset-1.col-md-10.text-justify
        %p The participant’s registration includes all lunches and coffees, and the USB flash drive of the congress. Furthermore, the registration includes a walking tour through the historical city centre with a degustation of Valencian products on Monday.
        %p The conference proceedings/book will only contain papers/works in progress that are presented at the conference. Each contribution to be published in the proceedings/book requires the registration of at least one participant before July 24th.
        %p There exist different registration fees for the participants. Each participant must accredit its state to get a discount. Otherwise the non-members fee will be applied.
        %p
          In order to register, please go to the
          %a{:href => "https://goo.gl/I9i3F3", :target => "_blank"} REGISTRATION FORM.
    .row.mt30
      .col-xs-1
      .col-xs-10
        .table-responsive
          %table.table
            %thead
              %tr
                %th Registration
                %th Up to 25th June
                %th After 25th June
            %tbody
              %tr
                %td INNOVA, CIPA, and ITN-DCH members
                %td 200€
                %td 300€
              %tr
                %td Non-members
                %td 250€
                %td 350€
              %tr
                %td Students
                %td 75€
                %td 150€
              %tr
                %td SEAV and UPV (staff) members:
                %td 150€
                %td 250€
              %tr
                %td Gala dinner (optional):
                %td 50€
                %td 50€
      .col-xs-1
    .row.mt30
      .col-lg-offset-2.col-lg-8.alert.alert-info
        %p
          :markdown
            **Call for Volunteers** Please visit: [http://arqueologica8.webs.upv.es/Call4Volunteers.pdf](http://arqueologica8.webs.upv.es/Call4Volunteers.pdf)
