/ footer
%footer.color4
  %section#mainFooter
    #footer.container
      .row
        .col-sm-4
          .footerWidgetLeft
            %a{href: 'http://www.upv.es/', target: '_blank'}
              %img#footerLogo{:src => "/images/upv_logo.jpg"}
            %a{href: 'http://arqueologiavirtual.com', target: '_blank'}
              %img#footerLogo{:src => "/images/seav_logo.jpg"}
            %a{href: 'http://virtualarchaeology.net/', target: '_blank'}
              %img#footerLogo{:src => "/images/innova_logo.png"}
            %a{href: 'http://www.upv.es/entidades/DICGF/index-es.html', target: '_blank'}
              %img#footerLogoSmall{:src => "/images/dicgf.png"}
            %a{href: 'http://www.upv.es/entidades/ETSIGCT/', target: '_blank'}
              %img#footerLogoSmall{:src => "/images/ETSIGCT_logo.jpg"}
            %a{href: 'http://gifle.webs.upv.es/', target: '_blank'}
              %img#footerLogoSmall{:src => "/images/GIFLE.jpg"}
            %a{href: 'http://www.cece.gva.es/', target: '_blank'}
              %img#footerLogo{:src => "/images/gv_logo.png"}
            %a{href: 'http://polipapers.upv.es/index.php/var', target: '_blank'}
              %img#footerLogo{:src => "/images/var_logo.png"}
            %a{href: 'http://cipa.icomos.org/', target: '_blank'}
              %img#footerLogo{:src => "/images/cipa-logo.png"}
        .col-sm-8
          %h3 Contact Information
          %p
            For any questions or comments, please e-mail:
            %a{href: 'mailto:arqueologica8@upv.es'} arqueologica8@upv.es
          %h3
            This congress, in cooperation with CIPA Heritage Documentation, is organised by:
          %h4
            %a{:href=>"http://arqueologiavirtual.com"} SEAV
          %h4
            %a{:href=>'http://virtualarchaeology.net/'} INNOVA
          %h4
            %a{:href=>'http://www.upv.es'} Universitat Politècnica de València
          %h4
            %a{:href=>"http://www.upv.es/entidades/DICGF/indexi.html"} Dept. of Cartographic Engineering, Geodesy and Photogrammetry (UPV)
          %h4
            %a{:href=>"http://www.upv.es/entidades/ETSIGCT/indexi.html"} School of Engineering in Geodesy, Cartography and Surveying (UPV)
          %h4
            %a{:href=>"http://gifle.webs.upv.es/"} Photogrammetry & Laser Scanning Research Group (GIFLE)
          .row
            .col-lg-6
              %h4
                SEAV-INNOVA:
              %ul
                %li
                  Alfredo Grande León (SEAV/INNOVA)
                %li
                  Víctor Manuel López-Menchero Bendicho (SEAV/UCLM)
                %li
                  Ángeles Hernández Barahona (SEAV)
                %li
                  Lourdes García Cerezuela (INNOVA)
                %li
                  Matthew L. Vincent (INNOVA/UM)
            .col-lg-6
              %h4
                Local Committee:
              %ul
                %li
                  José Luis Lerma (Congress Director, SEAV/GIFLE/DICGF/UPV)
                %li
                  Jordi Padín Devesa (Dir. DICGF/UPV)
                %li
                  Ana Belén Anquela Julián (Dir. ETSIGCT/UPV)
                %li
                  Ángel Marqués Mateu (DICGF/UPV)
                %li
                  Matilde Balaguer Puig (DICGF/UPV)
                %li
                  Miriam Cabrelles López (GIFLE/UPV)
            .row
              .col-md-12.mt30
                %h4
                  %b Acknowledgments
                %p.small Images used on the website were attained through Wikimedia Commons. The following images were used, with any change other than size reduction for the web. All other images were provided by José Luis Lerma and Ángel Marqués.
                %ul.small
                  %li
                    %a{href: 'https://commons.wikimedia.org/wiki/File:Ciutat_de_les_Arts_i_les_Ci%C3%A8ncies_%C3%A0_la_noche.jpg'} Ciutat de les Arts i les Ciències at night
                    by Emilio García
                  %li
                    %a{href: 'https://commons.wikimedia.org/wiki/File:Valencia_-_Estacio_del_Nord_01.jpg'} Estacio del Nord
                    by Mihael Grmek
                  %li
                    %a{href: 'https://commons.wikimedia.org/wiki/File:Mercado_Central,_Valencia,_Espa%C3%B1a,_2014-06-30,_DD_116.JPG'} Mercat Central
                    by Diego Delso
                  %li
                    %a{href: 'https://www.flickr.com/photos/high__voltage/6686826315'} Valencia
                    by Federico Galarraga
