%section#dates.slice.color4
  .container
    .row
      .col-xs-1
      .col-xs-10
        .table-responsive
          %table.table
            %thead
              %tr
                %th
                %th Deadline for Submission
                %th Notification of Acceptance
                %th Final Submission
            %tbody
              %tr
                %td Full Papers
                %td
                  %s 15th February, 2016
                  %br
                  1 March, 2016
                %td 7th May, 2016
                %td 15th June, 2016
              %tr
                %td Work in progress
                %td
                  %s 15th March, 2016
                  %br
                  15 April, 2016
                %td 15th May, 2016
                %td 15th June, 2016
              %tr
                %td Showcases
                %td 1st July, 2016
                %td 15th July, 2016
                %td &nbsp;
      .col-xs-1
