%section#fees.slice
  .container
    .row
      .col-xs-1
      .col-xs-10
        %h1 Pre-congress Workshop
        %h2.text-center
          :markdown
            CIPA Heritage Documentation Summer School: [CULTURAL HERITAGE 3D SURVEYING & MODELLING](/assets/Summerschool_UPV-CIPA2016.pdf)
        %h2.text-center 30 August - 4 September
        %h1 Congress Schedule
        %h2.text-center Click the image below for the programme.
      .col-xs-1
    .row
      .col-xs-1
      .col-xs-10
        %a{:href=>"/assets/programme.pdf"}
          %img.img-responsive.center-block{src: "/images/programme.png"}
      .col-xs-1
