---
layout: dh-2023
title: Legatum 2.0 2023
baseurl-root: /
---
{% include 2023/banner.html %}
{% include 2023/about.html %}
{% include 2023/committee.html %}
{% include 2023/dates_separator.html %}
{% include 2023/important_dates.html %}
{% include 2023/fees_separator.html %}
{% include 2023/fees.html %}
{% include 2023/programme_separator.html %}
{% include 2023/programme.html %}
{% include 2023/keynote_separator.html %}
{% include 2023/keynote.html %}
{% include 2023/vlc_separator.html %}
{% include 2023/about_daimiel.html %}
{% include 2023/footer.html %}
