---
layout: dh-2018
title: Legatum 2.0 2018
baseurl-root: /
---
{% include 2018/banner.html %}
{% include 2018/about.html %}
{% include 2018/committee.html %}
{% include 2018/dates_separator.html %}
{% include 2018/important_dates.html %}
{% include 2018/fees_separator.html %}
{% include 2018/fees.html %}
{% include 2018/programme_separator.html %}
{% include 2018/programme.html %}
{% include 2018/keynote_separator.html %}
{% include 2018/keynote.html %}
{% include 2018/vlc_separator.html %}
{% include 2018/about_daimiel.html %}
{% include 2018/footer.html %}
