<!-- about us -->
<section class='slice' id='about'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <img class="img-responsive img-centered" src="/images/legatum_logo.png"/>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-1'></div>
        <div class='col-sm-10 text-center'>
          <h2>LEGATUM 2.0</h2>
          <h2>III Congreso Internacional de Musealización y Puesta en Valor del Patrimonio Cultural</h2>
          <h3>25, 26 y 27 de octubre de 2023</h3>
          <h3>Daimiel. Ciudad Real</h3>
        </div>
        <div class='col-sm-1'></div>
      </div>
      <div class='row'>
        <div class='col-md-12 text-justify'>
          <p>Tras el éxito alcanzado en <a href="/2017" target="_blank">2017</a> y <a href="/2018" target="_blank">2018</a> por el Congreso internacional de musealización y puesta en valor del patrimonio cultural, se presenta una tercera edición con la misma vocación de ofrecer a la comunidad científica nacional e internacional el foro idóneo para la presentación de las últimas investigaciones y desarrollos en el campo de la valorización del patrimonio cultural. Con un enfoque abierto e inclusivo el congreso pretende facilitar el intercambio de experiencias e ideas en torno al concepto de patrimonio cultural tanto material como inmaterial.</p>
          <p>Este congreso está dirigido a personas que, ya desde el ejercicio profesional, de la investigación o la formación, ya por interés, se sientan atraídas por las ciencias y disciplinas que confluyen en la temática de este Congreso: museología, museografía, diseño, informática gráfica, gestión cultural y patrimonial, historia, arqueología, restauración y conservación de bienes culturales, informática, turismo, arquitectura... y a todos aquellos grupos de investigación, empresas e instituciones que desarrollan su labor en el ámbito de la musealización y puesta en valor del Patrimonio Cultural.</p>
          <p>LEGATUM 2.0 2023 es un congreso organizado por el Laboratorio de Arqueología, Patrimonio y Tecnologías Emergentes (LAPTE) del Instituto de Desarrollo Regional (IDR) de la Universidad de Castilla-La Mancha (UCLM) en colaboración con el Excmo. Ayuntamiento de Daimiel, y la Junta de Comunidades de Castilla-La Mancha.</p>
        </div>
      </div>
      <div class='row mt30'>
        <div class='col-sm-1'></div>
        <div class='col-sm-10 text-justify'>
          <h1>Participación</h1>
          <p>La participación como Comunicante en el III Congreso internacional de musealización y puesta en valor del patrimonio cultural está abierta a todas las personas interesadas y regulada por un <a href="/assets/2023/call_for_papers_legatum_2023_ext.pdf", target="_blank">Call for papers</a> de difusión internacional, donde se explican los temas y las diferentes maneras de participar. Las propuestas de participación serán de posters, comunicaciones o sesiones de debate. Las comunicaciones serán orales y deberán ser presentadas en directo en el Congreso. Los posters serán impresos en formato A0 y expuestos en las instalaciones del Congreso. Las sesiones de debate serán orales y deberán ser presentadas en directo en el Congreso, debiendo estar conformadas las propuestas por, al menos, 4 participantes. El Comité Científico del Congreso será el encargado de seleccionar y organizar en sesiones temáticas las mejores propuestas presentadas.</p>
          <h1>Propuestas</h1>
          <p>Las propuestas se enviarán por medio de resúmenes de comunicaciones, póster o sesiones de debate que tendrán una extensión máxima de 500 palabras debiendo estar escritos en español, e irán dirigidos a la Secretaría de LEGATUM 2.0 (<a href="mailto:congresolegatum@gmail.com">congresolegatum@gmail.com</a>). Los resúmenes aceptados por el Comité Científico se harán públicos a quienes presentaron la propuesta y podrán optar de manera opcional al envío de versiones extendidas para su publicación en una monografía, condicionada a la presentación presencial de los trabajos en el Congreso. En cualquier caso, la publicación en la monografía estará sujeta a un nuevo proceso de revisión por pares por parte del Comité Científico.</p>
          <p>Al menos un/a autor/a por cada contribución deberá inscribirse al Simposio. Se admitirá un máximo de dos propuestas de comunicación, poster o sesión por autor/a.</p>
          <p><a href="https://ruidera.uclm.es/xmlui/handle/10578/25498" target="_blank">Monografía LEGATUM 2017</a></p>
          <p><a href="https://ruidera.uclm.es/xmlui/handle/10578/30409" target="_blank">Monografía LEGATUM 2018</a></p>
        </div>
        <div class='col-sm-1'></div>
      </div>
      <div class='row mt30'>
        <div class='col-sm-1'></div>
        <div class='col-sm-10 text-justify'>
          <h1>Áreas Temáticas</h1>
          <ul>
            <li>Turismo cultural</li>
            <li>Presentación e interpretación del patrimonio cultural</li>
            <li>Didáctica, pedagogía y educación en espacios patrimoniales</li>
            <li>Nuevos formatos de difusión y comunicación del patrimonio</li>
            <li>Museos, museos al aire libre, museos virtuales, museos de sitio y centros de interpretación</li>
            <li>Parques arqueológicos, parques culturales y yacimientos visitables</li>
            <li>Arqueología pública, Arqueología y comunidad</li>
            <li>Museografía y museología</li>
            <li>Rutas turísticas, itinerarios culturales y redes territoriales</li>
            <li>Restauración de monumentos y sitios</li>
            <li>Marketing, gestión y economía cultural</li>
            <li>Estudios de público</li>
            <li>Patrimonio digital y arqueología virtual</li>
            <li>Patrimonio en peligro y documentación del patrimonio</li>
            <li>Conservación preventiva y planes de emergencia para salvaguardar el patrimonio</li>
            <li>Sistemas de documentación y registro en la restauración y conservación del patrimonio</li>
          </ul>
        </div>
        <div class='col-sm-1'></div>
      </div>
    </div>
  </section>
