<section class='slice noPaddingBottom color4' id='about'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 text-justify'>
        <h1>Bienvenido a Daimiel</h1>
        <p>En el centro de la Península Ibérica, a menos de dos horas de Madrid y con un acceso privilegiado por carretera, Daimiel muestra al visitante dos espacios singulares: el Parque Nacional de Las Tablas, un ecosistema único en Europa y la Motilla del Azuer, un yacimiento arqueológico excepcional, el más destacado de la Edad del Bronce en La Mancha. Estos enclaves singulares son su más conocida carta de presentación, pero Daimiel también sorprenderá a quienes paseen por sus calles, visiten sus monumentos y museos, participen en sus fiestas o degusten su gastronomía. Una mezcla irrepetible para una experiencia inolvidable.</p>
        <p>Para obtener más información acerca de Daimiel, por favor visite:</p>
        <ul>
          <li>
            <a href="https://www.daimiel.es/es/turismo" target="_blank">http://www.daimiel.es/daimiel/turismo</a>
          </li>
          <li>
            <a href="http://www.motilladelazuer.es" target="_blank">http://www.motilladelazuer.es</a>
          </li>
          <li>
            <a href="http://www.museocomarcaldaimiel.es" target="_blank">http://www.museocomarcaldaimiel.es</a>
          </li>
        </ul>
      </div>
    </div>
    <div class='row'>
      <div class='portfolio-items isotopeWrapper clearfix imgHover'>
        <article class='col-sm-4 isotopeItem'>
          <section class='imgWrapper'>
            <img alt='' class='img-responsive' src='/images/daimiel/daimiel_1.jpg'>
          </section>
          <section class='boxContent'>
            <h3>Tablas de Daimiel</h3>
          </section>
        </article>
        <article class='col-sm-4 isotopeItem'>
          <section class='imgWrapper'>
            <img alt='' class='img-responsive' src='/images/daimiel/daimiel_2.jpg'>
          </section>
          <section class='boxContent'>
            <h3>Motilla del Azuer</h3>
          </section>
        </article>
        <article class='col-sm-4 isotopeItem'>
          <section class='imgWrapper'>
            <img alt='' class='img-responsive' src='/images/daimiel/daimiel_3.jpg'>
          </section>
          <section class='boxContent'>
            <h3>Museo comarcal</h3>
          </section>
        </article>
      </div>
    </div>
  </div>
</section>
<section>
  <div class='container'>
    <div class='row mt30'>
      <div class='col-sm-1'></div>
      <div class='col-sm-10 text-center'>
        <h1>Sede del Congreso</h1>
      </div>
      <div class='col-sm-1'></div>
    </div>
    <div class='row mt30 mb30'>
      <div class='col-sm-6 text-justify'>
        <h2>Pabellón Ferial de Daimiel</h2>
        <p>El Pabellón Ferial de Daimiel está ubicado en el extremo del eje vertebrador del recinto ferial de Daimiel, al noroeste del núcleo urbano. Se trata de una construcción que se estructura alrededor de un gran atrio central planteado para desarrollar actividades de distinta índole; desde exposiciones temporales a celebraciones municipales. Se trata por tanto de un inmueble muy dinámico, amplio y que favorece una expansión socioeconómica a través de proyectos de desarrollo innovadores.</p>
      </div>
      <article class='col-sm-6 isotopeItem'>
        <section class='imgWrapper'>
          <img alt='' class='img-responsive' src='/images/daimiel/pabellon.jpg'>
        </section>
      </article>
    </div>
  </div>
</section>
