<div class='row'>
  <ul>
    <div class='col-md-6'>
      <li>Amalia Pérez-Juez Gil (Boston University)</li>
      <li>Ana Almagro Vidal (Fundación Obra Social y Monte de Piedad de Madrid)</li>
      <li>Ana Bailao (Universidad de Lisboa) </li>
      <li>Carmen Gloria Rodríguez Santana (Museo y Parque Arqueológico Cueva Pintada)</li>
      <li>Elena María Pérez González (Universidad Europea de Canarias)</li>
      <li>Joan Santacana Mestre (Universidad de Barcelona)</li>
      <li>Jorge Angas Pajas (Universidad de Zaragoza)</li>
      <li>José Luis Lerma (Universidad Politécnica de Valencia)</li>
      <li>José Manuel Rey García (Xunta de Galicia)</li>
      <li>Juan Antonio Mira Rico (Universitat Oberta de Catalunya)</li>
      <li>Juan Francisco Ruiz López (Universidad de Castilla-La Mancha)</li>
      <li>Juan Zapata Alarcón (Universidad de Castilla-La Mancha)</li>
      <li>Luis Mansilla Plaza (Universidad de Castilla-La Mancha)</li>
      <li>Mª Pilar Rivero Gracia (Universidad de Zaragoza)</li>
    </div>
    <div class='col-md-6'>
      <li>María Perlines Benito (Junta de Comunidades de Castilla-La Mancha)</li>
      <li>Matthew L. Vincent (American Center of Research y Global Digital Heritage)</li>
      <li>Miguel San Nicolás del Toro (Fundación Ars Civilis)</li>
      <li>Mikel Asensio Brouard (Universidad Autónoma de Madrid)</li>
      <li>Nayra Llonch Molina (Universidad de Lleida)</li>
      <li>Olaia Fontal Merillas (Universidad de Valladolid)</li>
      <li>Patricia Hevia Gómez (Junta de Comunidades de Castilla-La Mancha)</li>
      <li>Paula Uribe Agudo (Universidad de Zaragoza)</li>
      <li>Pedro María Lozano Crespo (Universidad Complutense de Madrid)</li>
      <li>Pilar Molina Chamizo (Museo de Ciudad Real)</li>
      <li>Pilar Montero Vilar (Universidad Complutense de Madrid) </li>
      <li>Rebeca Rubio Rivera (Universidad de Castilla-La Mancha)</li>
      <li>Rosario García Huerta (Universidad de Castilla-La Mancha)</li>
      <li>Tania Martínez Gil (Universidad de Barcelona)</li>
    </div>
  </ul>
</div>
