<section class='slice color4' id='dates'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-1'></div>
      <div class='col-xs-10'>
        <div class='table-responsive'>
          <table class='table'>
            <thead>
              <tr>
                <th></th>
                <th>Fecha límite de envío</th>
                <th>Notificación de aceptación</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Comunicaciones</td>
                <td>15 Junio, 2023</td>
                <td>15 Agosto 2023</td>
              </tr>
              <tr>
                <td>Posters</td>
                <td>15 Julio, 2023</td>
                <td>1 Septiembre, 2023</td>
              </tr>
              <tr>
                <td>Sesiones de debate</td>
                <td>15 Julio, 2023</td>
                <td>1 Septiembre, 2023</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class='col-xs-1'></div>
    </div>
  </div>
</section>
