<section class='slice' id='keynote'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 text-justify'>
        <img class='img-circle keynote-speaker mb30 center-block' src="/images/2023/keynote/barbara_cordero_bellas.png">
        <h3>Bárbara Cordero Bellas</h3>
        <h4>Directora General de Hispania Nostra</h4>
        <p>Licenciada en Filología Hispánica por la Universidad Autónoma de Madrid y Máster en Comunicación Audiovisual, por el IEPA. Instituto de Especialistas en Periodismo Audiovisual. Cuenta con una dilatada experiencia profesional en medios de comunicación y representación corporativa.</p>
        <p>Desde hace más de 15 años trabaja en la Asociación Hispania Nostra, asumiendo la coordinación en 2015 y la dirección en 2021. Ha impartido numerosas conferencias y actualmente es miembro del Comité de Selección de los Premios Europeos de Patrimonio / Premios Europa Nostra, en la categoría de Participación Social.</p>
        <p>Redes sociales de Hispania Nostra</p>
        <ul>
          <li><a href="https://www.facebook.com/HispaniaNostra/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="https://twitter.com/hispanianostra" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="https://www.instagram.com/hispanianostra/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i> Instagram</a></li>
          <li><a href="https://www.linkedin.com/company/hispania-nostra/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
          <li><a href="https://www.youtube.com/channel/UChZjYpO0L9ySLIkUfc136Pg" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i> YouTube</a></li>
          <li><a href="https://www.flickr.com/photos/hispanianostra/albums" target="_blank" rel="noopener noreferrer"><i class="fab fa-flickr"></i> Flickr</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
