<section class='slice' id='keynote'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 text-justify'>
        <h3>Jordi Tresserras Juan</h3>
        <h4>Presidente en ICOMOS-ESPAÑA (Comité Nacional Español de ICOMOS)</h4>
        <p>Doctor en Geografía e Historia por la Universitat de Barcelona. Profesor asociado de dicho centro universidad donde ha coordinado los postgrados en cooperación cultural internacional (desde 1999-2021) y turismo cultural (desde 2000-2018). Miembro del cuerpo académico del Doctorado en Sociedad y Cultura donde tutela varias tesis doctorales sobre gestión de sitios y manifestaciones en la Lista Patrimonio Mundial, la Lista de Patrimonio Inmaterial y Reservas de la Biosfera de la UNESCO, así como sobre rutas e itinerarios culturales.</p>
        <p>En 2001 fue profesor adjunto de turismo cultural en el Centro de Estudios de América Latina y el Caribe de la New York University. En 2010 es designado profesor visitante del Máster y Doctorado de Gestión del Patrimonio y Turismo de la Université Paris 1 Panthéon-Sorbonne y de la Especialización en Gestión Cultural (mención patrimonio) de la Universidad Andina Simón Bolívar.</p>
        <p>Presidente de la red IBERTUR. Socio fundador de CTC - Consultores en Turismo Cultural. Miembro de los Clubes de Turismo Cultural y Gastronómico de la Agencia Catalana de Turismo.</p>
        <p>Ha sido asesor del Ministerio de Economía de España para el Año Internacional del Turismo Cultural (2002) y de la Dirección General de Turismo de la Generalitat de Catalunya (2006-2010). Miembro del Comité Científico Internacional de la Ruta del Esclavo de la UNESCO (desde 2010). Asesor de la Compañía de Jesús para el Camino Ignaciano y la Rutas Jesuíticas.</p>
        <p>Consultor de organismos internacionales (Banco Mundial, BID, OMT, UNESCO, Consejo de Europa, Unión Europea, OEI, SICA) y agencias de cooperación (AECID, Alliance Française, Cooperazione Italiana allo Sviluppo, Cooperation Suisse, GTZ-GIZ). Miembro de ICOM e ICOMOS.</p>
      </div>
    </div>
  </div>
</section>
