<section class='slice' id='fees'>
  <div class='container'>
    <div class='row'></div>
    <div class='row'>
      <div class='col-xs-1'></div>
      <div class='col-xs-10 text-justify'>
        <p>El Congreso LEGATUM 2.0 2023 se inaugurará el 25 de octubre por la mañana y se clausurará el 27 de octubre por la tarde.</p>
        <p>Se puede descargar el programa <a href="/assets/2023/programa_legatum_2023.pdf">aquí.</a></p>
      </div>
      <div class='col-xs-1'></div>
    </div>
  </div>
</section>
