---
layout: dh-2017
title: Legatum 2.0 2017
baseurl-root: /
---
{% include 2017/banner.html %}
{% include 2017/about.html %}
{% include 2017/committee.html %}
{% include 2017/dates_separator.html %}
{% include 2017/important_dates.html %}
{% include 2017/fees_separator.html %}
{% include 2017/fees.html %}
{% include 2017/programme_separator.html %}
{% include 2017/programme.html %}
{% include 2017/keynote_separator.html %}
{% include 2017/keynote.html %}
{% include 2017/vlc_separator.html %}
{% include 2017/about_daimiel.html %}
{% include 2017/footer.html %}
