<!-- about us -->
<section class='slice' id='about'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <img class="img-responsive img-centered" src="images/legatum_logo.png"/>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-1'></div>
      <div class='col-sm-10 text-center'>
        <h2>LEGATUM 2.0</h2>
        <h2>I Congreso Internacional de Musealización y Puesta en Valor del Patrimonio Cultural</h2>
        <h3>25, 26 y 27 de octubre de 2017</h3>
        <h3>Daimiel. Ciudad Real</h3>
      </div>
      <div class='col-sm-1'></div>
    </div>
    <div class='row'>
      <div class='col-md-12 text-justify'>
        <p>El I Congreso internacional de musealización y puesta en valor del patrimonio cultural nace con la vocación de ofrecer a la comunidad científica nacional e internacional el foro idóneo para la presentación de las últimas investigaciones y desarrollos en el campo de la valorización del patrimonio cultural. Con un enfoque abierto e inclusivo el congreso pretende facilitar el intercambio de experiencias e ideas en torno al concepto de patrimonio cultural tanto material como inmaterial.</p>
        <p>Este congreso está dirigido a profesionales, investigadores, estudiantes o interesados: museólogos, museógrafos, diseñadores, informáticos gráficos, especialistas en patrimonio, arqueólogos, historiadores, restauradores, informáticos, técnicos en turismo, arquitectos, humanistas, gestores culturales y del patrimonio, profesores, etc., y a todos aquellos grupos de investigación, empresas e instituciones que desarrollan su labor en el ámbito de la musealización y puesta en valor del Patrimonio Cultural.</p>
        <p>LEGATUM 2.0 2017 es un congreso organizado por el Laboratorio de Arqueología, Patrimonio y Tecnologías Emergentes de la Universidad de Castilla-La Mancha en colaboración con el Excmo. Ayuntamiento de Daimiel.</p>
      </div>
    </div>
    <div class='row mt30'>
      <div class='col-sm-1'></div>
      <div class='col-sm-10 text-justify'>
        <h1>Participación</h1>
        <p>La participación como Comunicante en el I Congreso internacional de musealización y puesta en valor del patrimonio cultural está abierta a todos los interesados y regulada por un Call for papers de difusión internacional, donde se explican los temas y las diferentes maneras de participar. Las propuestas de participación serán de posters o comunicaciones. Las comunicaciones serán orales y deberán ser presentadas en directo en el Congreso. Los posters serán impresos en formato A0 y expuestos en las instalaciones. El Comité Científico del Congreso será el encargado de seleccionar y organizar en sesiones temáticas las mejores propuestas presentadas.</p>
        <h1>Propuestas</h1>
        <p>Las propuestas se enviarán por medio de resúmenes de comunicaciones o póster que tendrán una
        extensión máxima de 300 palabras debiendo estar escritos preferiblemente en español, aunque también se admitirán resúmenes en inglés, italiano y portugués, e irán dirigidos a la Secretaria de Legatum 2.0, siendo el plazo límite de entrega el 15 de julio de 2017 para las comunicaciones y el 15 de septiembre para los posters. Los resúmenes de comunicaciones aceptados por el Comité Científico se harán públicos a sus autores con fecha de 25 de agosto, mientras que los resúmenes de posters se harán públicos a sus autores con fecha de 25 de septiembre.</p>
      </div>
      <div class='col-sm-1'></div>
    </div>
    <div class='row mt30'>
      <div class='col-sm-1'></div>
      <div class='col-sm-10 text-justify'>
        <h1>Áreas Temáticas</h1>
        <ul>
          <li>Turismo cultural</li>
          <li>Presentación e interpretación del patrimonio cultural</li>
          <li>Didáctica, pedagogía y educación en espacios patrimoniales</li>
          <li>Nuevos formatos de difusión y comunicación del patrimonio</li>
          <li>Museos, museos al aire libre, museos virtuales, museos de sitio y centros de interpretación</li>
          <li>Parques arqueológicos, parques culturales y yacimientos visitables</li>
          <li>Arqueología pública, Arqueología y comunidad</li>
          <li>Museografía y museología</li>
          <li>Rutas turísticas, itinerarios culturales y redes territoriales</li>
          <li>Restauración de monumentos y sitios</li>
          <li>Marketing, gestión y economía cultural</li>
          <li>Estudios de público</li>
          <li>Patrimonio digital y arqueología virtual</li>
          <li>Patrimonio en peligro y documentación del patrimonio</li>
        </ul>
      </div>
      <div class='col-sm-1'></div>
    </div>
  </div>
</section>
