<!-- footer -->
<footer class='color4'>
  <section id='mainFooter'>
    <div class='container' id='footer'>
      <div class='row'>
        <div class='col-sm-4'>
          <div class='footerWidgetLeft'>
            <h2>Colabora</h2>
            <a>
              <img id='footerLogo' src='/images/logos/seav_logo.png'>
            </a>
            <a>
              <img id='footerLogo' src='/images/logos/innova_logo.png'>
            </a>
            <a>
              <img id='footerLogo' src='/images/logos/turismo_daimiel.png'>
            </a>
            <h2>Organiza</h2>
            <a>
              <img id='footerLogo' src='/images/logos/uclm.png'>
            </a>
            <a>
              <img id='footerLogo' src='/images/logos/lapte.png'>
            </a>
            <a>
              <img id='footerLogo' src='/images/logos/daimiel_escudo.png'>
            </a>
            <h2>Patrocina</h2>
            <a>
              <img id='footerLogo' src='/images/logos/daimiel_escudo.png'>
            </a>
          </div>
        </div>
        <div class='col-sm-8'>
          <h3>Información de contacto</h3>
          <p>
            Para cualquier duda o comentario, envíe un correo electrónico a:
            <a>arqueologica8@upv.es</a>
          </p>
          <h3>
            Este congreso está organizado por:
          </h3>
          <h4>Laboratorio de Arqueología, Patrimonio y Tecnologías Emergentes (LAPTE) de la Universidad de Castilla-La Mancha (UCLM)</h4>
          <h4>Excmo. Ayuntamiento de Daimiel</h4>
          <div class='row'>
            <div class='col-lg-12'>
              <h3>
                Comité de organización
              </h3>
              <h4>Directores</h4>
              <ul>
                <li>
                  Jorge Onrubia Pintado (Universidad de Castilla-La Mancha)
                </li>
                <li>
                  Víctor Manuel López-Menchero Bendicho (Sociedad Española de Arqueología Virtual)
                </li>
              </ul>
              <h4>Secretario académico</h4>
              <ul>
                <li>
                  Francisco Javier Morales Hervás (Universidad de Castilla-La Mancha)
                </li>
              </ul>
              <h4>Miembros del Comité organizador</h4>
              <ul>
                <li>
                  Miguel Torres Mas (Motilla del Azuer. Ayto. de Daimiel)
                </li>
                <li>
                  Diego Clemente (Museo comarcal de Daimiel)
                </li>
                <li>
                  Alfredo Grande León (Sociedad Española de Arqueología Virtual)
                </li>
                <li>
                  Matthew L. Vincent (Bruno Kessler Foundation)
                </li>
                <li>
                  David Rodríguez González (Universidad de Castilla-La Mancha)
                </li>
                <li>
                  Ángel Marchante Ortega (Universidad de Las Palmas de Gran Canaria)
                </li>
                <li>
                  Juan Francisco Ruiz López (Universidad de Castilla-La Mancha)
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
