<section class='slice' id='fees'>
  <div class='container'>
    <div class='row'></div>
    <div class='row'>
      <div class='col-xs-1'></div>
      <div class='col-xs-10 text-justify'>
        <p>El Congreso Legatum2.0 2017 se Inaugurará el 25 de octubre por la mañana y se clausurará el 27 de octubre por la tarde. El programa del congreso se articula en torno a una conferencia inaugural y treinta y nueve sesiones paralelas de Comunicaciones donde se debatirán las aportaciones presentadas en las áreas señaladas. El preprograma del Congreso 2017 se puede ver <a href="/assets/PROGRAMA_LEGATUM_2_0_OPTIMIZADO.pdf">aquí.</a>
      </div>
      <div class='col-xs-1'></div>
    </div>
  </div>
</section>
