<section class='slice' id='fees'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-offset-1 col-md-10 text-justify'>
        <p>El registro de los participantes incluye todas las comidas durante los días del congreso. La inscripción incluye diversos descuentos.</p>
        <p>Los participantes disponen de diferentes cuotas de inscripción. Cada participante debe acreditar su estado para conseguir el descuento. En caso contrario, se le aplicará la cuota ordinaria.</p>
        <p>
          Inscripción online en 
          <a>https://cursosweb.uclm.es</a>
          del 15 de junio al 17 de octubre de 2017.
        </p>
      </div>
    </div>
    <div class='row mt30'>
      <div class='col-xs-1'></div>
      <div class='col-xs-10'>
        <div class='table-responsive'>
          <table class='table'>
            <thead>
              <tr>
                <th>Cuotas de Registro</th>
                <th>Hasta el 30 de Septiembre</th>
                <th>Después del 30 de Septiembre</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Ordinaria</td>
                <td>45€</td>
                <td>50€</td>
              </tr>
              <tr>
                <td>Estudiantes, desempleados, jubilados y miembros del Comité Científico</td>
                <td>40€</td>
                <td>45€</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class='col-xs-1'></div>
    </div>
  </div>
</section>
