<!-- footer -->
<footer class='color4'>
  <section id='mainFooter'>
    <div class='container' id='footer'>
      <div class="row">
        <div class='col-sm-6'>
          <h3>Información de contacto</h3>
          <p>
            Para cualquier duda o comentario, envíe un correo electrónico a:
            <a href="mailto:congresolegatum@gmail.com">congresolegatum@gmail.com</a>
          </p>
          <h3>
            Este congreso está organizado por:
          </h3>
          <h4>Laboratorio de Arqueología, Patrimonio y Tecnologías Emergentes (LAPTE) del Instituto de Desarrollo Regional (IDR) de la Universidad de Castilla-La Mancha
            (UCLM)</h4>
          <h4>Excmo. Ayuntamiento de Daimiel</h4>
          <h4>Instituto del Patrimonio Cultural de España (IPCE)</h4>
          <h4>Viceconsejería de Cultura. Junta de Comunidades de Castilla-La Mancha</h4>
        </div>
        <div class='col-sm-6'>
          <h3>
            Comité de organización
          </h3>
          <h4>Directores</h4>
          <ul>
            <li>
              Jorge Onrubia Pintado (Universidad de Castilla-La Mancha)
            </li>
            <li>
              Víctor Manuel López-Menchero Bendicho (Sociedad Española de Arqueología Virtual)
            </li>
          </ul>
          <h4>Secretario académico</h4>
          <ul>
            <li>
              Francisco Javier Morales Hervás (Universidad de Castilla-La Mancha)
            </li>
          </ul>
          <h4>Miembros del Comité organizador</h4>
          <ul>
            <li>
              Miguel Torres Mas (Motilla del Azuer. Ayto. de Daimiel)
            </li>
            <li>
              Diego Clemente (Museo comarcal de Daimiel)
            </li>
            <li>
              Alfredo Grande León (Sociedad Española de Arqueología Virtual)
            </li>
            <li>
              Matthew L. Vincent (Rekrei y Global Digital Heritage)
            </li>
            <li>
              David Rodríguez González (Universidad de Castilla-La Mancha)
            </li>
            <li>
              Ángel Marchante Ortega (Universidad de Las Palmas de Gran Canaria)
            </li>
            <li>
              Juan Francisco Ruiz López (Universidad de Castilla-La Mancha)
            </li>
            <li>
              María José Suarez Martínez (IPCE)
            </li>
          </ul>
        </div>
      </div>
      <div class='row mt30'>
        <div class='col-md-4'>
          <div class='footerWidgetLeft'>
            <h2>Colabora</h2>
            <a href="http://www.arqueologiavirtual.com/" target="_blank">
              <img id='footerLogo' src='/images/logos/seav_logo.png'>
            </a>
            <a href="http://virtualarchaeology.net/" target="_blank">
              <img id='footerLogo' src='/images/logos/innova_logo.png'>
            </a>
            <a href="http://www.daimiel.es/daimiel/turismo" target="_blank">
              <img id='footerLogo' src='/images/logos/turismo_daimiel.png'>
            </a>
            <a href="http://www.arespaph.com/" target="_blank">
              <img id='footerLogo' src='/images/logos/arespa.png'>
            </a>
            <a href="http://www.museologia.net/" target="_blank">
              <img id='footerLogo' src='/images/logos/aem.png'>
            </a>
            <a href="http://aegpc.org/" target="_blank">
              <img id='footerLogo' src='/images/logos/aegpc.png'>
            </a>
            <a href="https://polipapers.upv.es/index.php/var" target="_blank">
              <img id="footerLogo" src="/images/logos/var.png">
            </a>
            <a href="http://www.raco.cat/index.php/Hermus/" target="_blank">
              <img id="footerLogo" src="/images/logos/hermus.png">
            </a>
            <img id="footerLogo" src="/images/logos/amigos_cr.png">
            <a href="http://www.xn--castillosdeespaa-lub.es/" target="_blank">
              <img id="footerLogo" src="/images/logos/amigos_castillos.png">
            </a>
            <a href="http://www.fasticongressuum.com/" target="_blank">
              <img id="footerLogo" src="/images/logos/fasti.png">
            </a>
            <a href="http://www.amigosdelromanico.org/" target="_blank">
              <img id="footerLogo" src="/images/logos/romanico.png">
            </a>
            <a href="https://www.travindy.com/es/" target="_blank">
              <img id="footerLogo" src="/images/logos/travindy.png">
            </a>
            <a href="http://garanza.org/" target="_blank">
              <img id="footerLogo" src="/images/logos/garanza.png">
            </a>
            <a href="http://www.daimielturismo.com/" target="_blank">
              <img id="footerLogo" src="/images/logos/attd.png">
            </a>
            <a href="http://www.caminosdelguadiana.es/" target="_blank">
              <img id="footerLogo" src="/images/logos/cdge.png">
            </a>
            <a href="https://www.icom-ce.org/" target="_blank">
              <img id="footerLogo" src="/images/2018/logos/icom_esp.png">
            </a>
            <a href="https://www.asociacionadarq.org/" target="_blank">
              <img id="footerLogo" src="/images/2018/logos/adarq.png">
            </a>
            <a href="https://ventadeborondo.wordpress.com/" target="_blank">
              <img id="footerLogo" src="/images/2018/logos/venta.png">
            </a>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='footerWidgetLeft'>
            <h2>Organiza</h2>
            <a href="https://www.uclm.es/" target="_blank">
              <img id='footerLogo' src='/images/logos/uclm.png'>
            </a>
            <a href="http://www.idr-ab.uclm.es/idr2016/es/grupos-de-investigacion/laboratorio-arquelogia-patrimonio-y-tecnologias-emergentes"
              target="_blank">
              <img id='footerLogo' src='/images/logos/lapte.png'>
            </a>
            <a href="http://www.idr-ab.uclm.es/idr2016/es/" target="_blank">
              <img id='footerLogo' src="/images/2018/logos/idr_blanco.png">
            </a>
            <a href="http://www.daimiel.es/" target="_blank">
              <img id='footerLogo' src='/images/logos/daimiel_escudo.png'>
            </a>
            <a href="http://ipce.mecd.gob.es/inicio.html" target="_blank">
              <img id='footerLogo' src='/images/2018/logos/IPCE.png'>
            </a>
            <a href="http://www.castillalamancha.es/" target="_blank">
              <img id='footerLogo' src='/images/2018/logos/jccm.png'>
            </a>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='footerWidgetLeft'>
            <h2>Patrocina</h2>
            <a href="http://www.daimiel.es/" target="_blank">
              <img id='footerLogo' src='/images/logos/daimiel_escudo.png'>
            </a>
            <a href="https://www.uclm.es/" target="_blank">
              <img id='footerLogo' src='/images/logos/uclm.png'>
            </a>
            <a href="https://www.renfe.com/" target="_blank">
              <img id='footerLogo' src='/images/logos/renfe.png'>
            </a>
            <a href="http://www.castillalamancha.es/" target="_blank">
              <img id='footerLogo' src='/images/2018/logos/jccm.png'>
            </a>  
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>