<section class='slice' id='keynote'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h3>Pablo Jiménez Díaz</h3>
        <h4>Instituto del Patrimonio Cultural de España (IPCE)</h4>
        <p>El Instituto de Patrimonio Cultural de España es una unidad de la Dirección General de Bellas Artes y Patrimonio Cultural del Ministerio de Educación, Cultura y Deporte, cuya actividad se centra en la conservación, restauración, investigación, formación especializada, documentación y difusión del patrimonio. Sus funciones principales son:</p>
        <ul>
          <li>La elaboración y ejecución de planes para la conservación y restauración de bienes muebles e inmuebles del patrimonio histórico.</li>
          <li>La promoción y fomento de proyectos de investigación arqueológica española en el exterior.</li>
          <li>El archivo y sistematización de los trabajos realizados y de la documentación disponible sobre patrimonio histórico.</li>
          <li>La investigación y estudio sobre criterios, métodos y técnicas para su conservación y restauración, así como la formación de técnicos y especialistas en conservación y restauración de los bienes inmuebles y muebles integrantes de dicho patrimono.</li>
        </ul>
        <p>Para llevar a cabo estas funciones, el Instituto cuenta con técnicos especialistas de diversas disciplinas que desarrollan una actividad de recuperación y restauración del patrimonio cultural en toda España en el ámbito de las competencias estatales. El Instituto colabora también con todas las Comunidades y Ciudades Autónomas y otros organismos mediante asesoramiento técnico, análisis científicos, informes y actuaciones conjuntas. Asimismo promueve la investigación arqueológica en el exterior, realiza proyectos de investigación, organiza actividades formativas y lleva a cabo acciones de difusión del patrimonio cultural. Cuenta también con un archivo, una biblioteca y una fototeca especializados.</p>
      </div>
    </div>
  </div>
</section>
