<section class='slice' id='keynote'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <img class='img-circle keynote-speaker mb30 center-block' src="/images/xavier_web.jpg">
        <h3>Xavier Llovera Massana</h3>
        <h4>Jefe de Actuaciones en Museos y Monumentos de la Agencia Catalana del Patrimonio Cultural</h4>
        <p>La Agència Catalana del Patrimoni Cultural, creada el 1 de enero de 2014, tiene por misión gestionar, en relación al medio urbano y natural que lo acoge, el patrimonio cultural de la Generalitat de Cataluña con criterios de integridad, sostenibilidad y eficiencia. La Agencia tiene adscritos 38 monumentos y numerosos equipamientos culturales entre los que destacan:</p>
        <ul>
          <li>El Museo de Arqueología de Cataluña.</li>
          <li>El Museo Nacional Arqueológico de Tarragona</li>
          <li>El Museo de la Ciencia y de la Técnica de Cataluña</li>
          <li>El Museo de Historia de Cataluña</li>
          <li>El Museo de Arte de Girona</li>
          <li>El Centro de Restauración de Bienes Muebles</li>
        </ul>
        <p>Desde su creación, la Agencia ha gestionado numerosos proyectos en materia de musealización y puesta en valor del patrimonio cultural entre los que destacan el premiado proyecto taüll1123 y el novedoso proyecto Ullastret 3D.</p>
      </div>
    </div>
  </div>
</section>
